<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="" target="_blank">Google Summer of Code</a>
          </div>
          <div class="job__time">3 month internship/contribution</div>
        </div>
        <div class="job__position">Software Engineer</div>
      </div>
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>
