<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="https://summerofcode.withgoogle.com/programs/2024/projects/VwqY0F33" target="_blank">Google Summer of Code</a>
          </div>
          <div class="job__time">3 month internship/contribution</div>
        </div>
        <div class="job__position">Software Engineer</div>
      </div>
      <p>
        In this internship/contribution, I contributed to a Computer Algebra System named 
        <a class="underline-link" href="https://github.com/JuliaSymbolics/Symbolics.jl" target="_blank">Symbolics.jl</a>, with guidance from the project's 
        <a class="underline-link" href="https://sumiya11.github.io/" target="_blank">mentor</a>. In this project, I created a Symbolic solver which is capable
        of solving multivariate polynomials using Groebner basis, as well as transcendental expressions using
        Isoaltion and Attraction which are inspired by <a class="underline-link" href="https://www.sciencedirect.com/science/article/pii/S0747717189800070" target="_blank">R. W. Hamming</a>. 
      </p>
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>
